* {
 font-family: 'Handlee';   
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
}


body {
    width: 100%;
    height: 100%;
    margin: 0px;
    color: #004e64;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 2px solid rgba(0, 78, 100, 0.1);
}

.burger-icon {
    font-size: 3rem;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    font-weight: 800;
}

.new-task-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    gap: 10px;
    font-size: 2rem;
        
}